{% set services = settings.dockers -%}
{% set secrets = settings.services -%}
{% set domains = settings.domains -%}
{
    order reverse_proxy before route
    admin off
    log {
        output file /var/log/caddy/access.log
        level INFO
        format json {
            time_format rfc3339
        }
    }
    email {{ settings.user.email }}
    {%- if services.caddy.acme_dns %}
    acme_dns {{ services.caddy.acme_dns }} {{ settings.tokens[services.caddy.acme_dns] }}
    {%- endif %}
    servers :443 {
        protocols h1 h2
    }
}

:443{% if settings.user.domains %}{% for domain in settings.user.domains %}, *.{{ domain }}{% endfor %}{% else %}{% for domain in domains %}, {{ domain }}{% endfor %}{% endif%} {
    tls {
        protocols tls1.2 tls1.2
        ciphers TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
        curves x25519 secp521r1 secp384r1 secp256r1
    }

    {%- if services.v2ray.enabled %}
{% filter indent(width=4) %}
{% include "templates/configs/v2ray/" + services.v2ray.scheme + ".Caddyfile.jinja" %}
{% endfilter %}
    {%- endif %}

    {%- if services.remark42.enabled %}
{% filter indent(width=4) %}
{% include "templates/configs/remark42/Caddyfile.jinja" %}
{% endfilter %}
    {%- endif %}

    @host_blog {
        host {{ secrets.blog.domain }}
    }
    route @host_blog {
        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        }
        file_server {
            root /srv
        }
    }
}
