{% set configs = settings.dockers.freshrss -%}
{% set secrets = settings.services.freshrss -%}
<?php

# See https://github.com/FreshRSS/FreshRSS/blob/edge/config.default.php
return array(

	# Specify address of the FreshRSS instance,
	# used when building absolute URLs, e.g. for WebSub.
	# Examples:
	# https://example.net/FreshRSS/p/
	# https://freshrss.example.net/
	'base_url' => 'https://{{ secrets.domain }}',

	# Natural language of the user interface, e.g. `en`, `fr`.
	'language' => '{{ configs.language | default("en") }}',

	# Title of this FreshRSS instance in the Web user interface.
	'title' => '{{ configs.title | default("FreshRSS") }}',

);
