{%- set blog = settings.services.blog %}
build: .
restart: unless-stopped
command: ["caddy", "run", "--config", "/etc/caddy/caddy.json"]
ports:
  - "7443"
volumes:
  - ./config/caddy/caddy.json:/etc/caddy/caddy.json
  - ./log/caddy:/var/log/caddy
  - {{ blog.root }}:/srv
  - caddy_data:/data
  - caddy_config:/config
