{%- set freshrss = settings.dockers.freshrss %}
image: "freshrss/freshrss:${TAG_FRESHRSS:-edge}"
restart: unless-stopped
volumes:
  - freshrss_data:/var/www/FreshRSS/data
  - freshrss_extensions:/var/www/FreshRSS/extensions
  - ./config/freshrss/config.custom.php:/var/www/FreshRSS/data/config.custom.php
  - ./config/freshrss/config-user.custom.php:/var/www/FreshRSS/data/config-user.custom.php
logging:
  options:
    max-size: 10m
environment:
  TZ: {{ settings.user.time_zone }}
  CRON_MIN: {{ freshrss.cron }}
{% if freshrss.development -%}
  FRESHRSS_ENV: development
{% endif -%}
